ROTATOR_REPO_ROOT=/Users/rcs/git/ssl-proxy
ROTATOR_HEALTH_URL=http://127.0.0.1:3002/health
ROTATOR_HEALTH_TIMEOUT_MS=5000
ROTATOR_INCLUDE_PUBLIC_KEY=true

WAHA_BASE_URL=http://127.0.0.1:3000
WAHA_SESSION=default
WAHA_CHAT_ID=12132132130@c.us
WAHA_API_KEY=
